* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-details {
    background: #fafcfe;
    border: 1px dashed #b9c0c7;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: #666666;
    border-radius: 4px;
}

.blog {
    background: #EEF4F5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.widget {
    background: #EEF4F5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 380px;
}

.right-content .widget .widget-content>ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.right-content .widget .widget-content>ul.categories>li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.widget-content .tags-cloud>a {
    display: inline-block;
    border: 1px solid #a3adb8;
    border-radius: 20px;
    padding: 3px 15px 5px 15px;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: 700;
    color: #3b4a5a;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.widget .widget-content>ul.popular-post-widget>li {
    position: relative;
    margin-bottom: 10px;
    color: #6b8291;
}

.widget .widget-content>ul.popular-post-widget>li>a {
    color: #54677c;
    text-decoration: none;
    transition: all 0s ease-in-out;
    font-size: 16px;
    font-weight: 700;
}

.right-content .widget .widget-content>ul.categories>li>a {
    color: #3b4a5a;
    text-decoration: none;
    transition: all 0s ease-in-out;
    font-weight: 600;
}

.widget .widget-content>ul.categories>li:before {
    content: "\f0da";
    position: absolute;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #666;
}

.social-icons i {
    color: #7f7a7a;
    justify-content: space-between;
    padding: 10px;
}

.social-icons i:hover {
    color: #2c6ef1;
}

.copyright {
    color: #5b5959;
}

.Page-Content .container.full-width .left-content .category-blocks .category-block>ul.list-unstyled>li>a {
    display: inline-block;
    color: #6d7a8d;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.copyright a {
    text-decoration: none;
    color: #2c6ef1;
}

.Page-Content .container.full-width .left-content .category-blocks .category-block {
    background: #EEF4F5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.services-section .service{
    background: #fff;
    position: absolute;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px;
    display: flex;
    justify-content: center;
}