*{
    margin: 0;
    padding: 0;
}
body{

}
p{
    font-size: small;
}
li{
    list-style: none;
    color: black;
}
.a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}
.a:hover{
    background-color: rgb(5, 89, 214);
}
#bouton:hover{
        background-color:  rgb(5, 89, 214);
}
.card.le{
    color: grey;
    position: relative;
    top: 100px;
    border-radius: 5px;
    transition: 0.5s;
}
.card.le:hover{
    transform: scale(1.1);
    z-index: 1;
}
.carte:hover{
    transform: scale(1.1);
    z-index: 1;
}
a h5{
    color: black;
}
.icone{
    position: relative;
    top: 32px;
}
a li {
    color: gray;
    margin-top: 10px;
}
.trente{
    border: 1px rgb(179, 176, 176);
}
.trente:hover{
    background-color: rgb(35, 104, 207);
}
.cartes:hover{
    background-color: rgb(233, 240, 238);
}
#bordure{
    border: 1px dashed black;
}
a p:hover{
    color: rgb(35, 104, 207);
}
