/* @import url('https://fonts.googleapis.com/css2?family=Sono&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    font-size: 17px;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    text-transform: capitalize;
    color: #818080;
    font-weight: 700;
}

.pages:hover {
    text-transform: capitalize;
    color: #3b3a3a;
    font-weight: 700;
    background: rgba(214, 224, 224, 0.3);
}

.page-title {
    padding: 5px;
    margin: -8px 0 0 0;
    justify-content: center;
    margin-left: 80px;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-item {
    display: -ms-flexbox;
    display: flex;
}

.page-title .breadcrumb>li.breadcrumb-item {
    color: #eeeeee;
}

.page-title .breadcrumb {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.page-title h2 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 9px;
    color: #ffffff;
    font-family: 'Cairo' sans-serif;
}

.page-title ol li a {
    list-style-type: none;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    padding: 0px;
    font-family: 'Cairo' sans-serif;
}

form {
    display: block;
    margin: 0;
}

.search-form input {
    margin-top: 25px;
    padding: 10px;
    margin-left: 45px;
    width: 70%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: 0;
}

.search-form i {
    position: absolute;
    margin-top: 25px;
    margin-left: 5px;
    color: #7f7a7a;
    background: #FFF;
    padding: 14.3px;
    padding-bottom: 14.3px;
    border-end-start-radius: 5px;
    border-top-left-radius: 5PX;
}

.social-icons i {
    color: #7f7a7a;
    justify-content: space-between;
    padding: 10px;
}

.social-icons i:hover {
    color: #2c6ef1;
}

.copyright {
    color: #5b5959;
}

.copyright a {
    text-decoration: none;
    color: #2c6ef1;
}

.menu ul li {
    padding: 10px;
    /* list-style-type: none; */
    display: inline-flex;
}

.menu a {
    text-decoration: none !important;
    color: #5b5959;
}

.menu a:hover {
    color: #2c6ef1;
}

.go-up {
    background: #2c6ef1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 0px;
    width: 45px;
    height: 45px;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    display: none;
    outline: none !important;
    cursor: pointer;
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    -o-border-radius: 100% 100% 100% 100%;
    -ms-border-radius: 100% 100% 100% 100%;
}